div {
    padding: 10px;
    color: white;
}

.inv-grid {
    margin: 0 auto;
    max-width: 912px;
    border: none;
    padding: 0px;
}

.inv-grid-item {
    font-size: 18px;
    text-align: center;
    width: 64px;
    height: 64px;
    min-width: 76px;
    min-height: 76px;
    padding: 5px;
    border: 1px solid;
    background-color: rgb(159, 170, 197);
}

.padding-sm {
    padding: 5px;
}

.enemy-img {
    min-width: 256px;
    min-height: 256px;
    max-width: 256px;
    max-height: 256px;
    padding: 0px;
    border: none;
}

.dark-blue {
    background-color:rgb(46, 66, 114);
}

.blue {
    background-color:rgb(79, 98, 142);
}

.light-blue {
    background-color: rgb(159, 170, 197);
}